<div class = "col text-center">
    <div class="text-center">
        <a href="" class="btn btn-danger btn-rounded mb-4" data-toggle="modal" data-target="#artistForm">Add An Artist</a>
      </div>
    <table style="width:100%" >
            <tr>
              
              <th>Song Name</th>
              <th>Summary</th>
              <th>Followers</th>
              <th>Add to Saved Artists</th>
            </tr>
            <tr *ngFor="let artist of artists" >
                <td>
                    <button type="button" (click)="goArtist(artist._id)" class="btn btn-warning">{{artist.name}}</button>
                </td>
              <td>{{artist.summary}}</td>
              <td>{{artist.followers}}</td>
              <td>
                  <div class = "col text-center" *ngIf="authService.currentUser; else notLoggedIn">
                    <ng-container *ngIf="!savedArtists.includes(artist._id); else disableButton">
                      <button type="button" (click) = "saveArtist(artist._id, artist.followers)" class="btn btn-warning">+</button>
                    </ng-container>
                  </div>
                </td>
                <ng-template #notLoggedIn>
                    <button type="button" (click) = "displayLogin()" class="btn btn-warning">+</button>
                </ng-template>
                <ng-template #disableButton>
                    <button type="button" (click) = "removeArtist(artist._id, artist.followers)" class="btn-remove btn-warning">
                      <span>✔</span>
                    </button>
                </ng-template>
            </tr>
          </table>
</div>

<div class="modal fade" id="artistForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Artist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
      <div class="modal-body mx-3">
        <div class="form-group">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label>Name:</label>
          <input type="text" id="name" name="name" class="form-control validate" required [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label>Description:</label>
          <i class="fas fa-lock prefix grey-text"></i>
          <textarea rows="7" style="resize:none" id="summary" name="summary" class="form-control validate" [(ngModel)]="summary"></textarea>
        </div>
      </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="close btn btn-default" type="submit">Add Artist</button>
        </div>
      </form>
    </div>
  </div>
</div>