<div class = "col text-center">

    <table style="width:100%" >
            <tr>
              <th>Artist Name</th>
              <th>Summary</th>
              <th>Followers</th>
              <th>Similar Artists</th>
              <th>Add to Saved Artists</th>
            </tr>
            <tr *ngFor="let artist of artists" >
              <td>{{artist.name}}</td>
              <td>{{artist.summary}}</td>
              <td>{{artist.followers}}</td>
              <td>{{artist.similarArtists}}</td>
              <td>
                  <div class = "col text-center" *ngIf="authService.currentUser; else notLoggedIn">
                    <ng-container *ngIf="!savedArtists.includes(artist._id); else disableButton">
                      <button type="button" (click) = "saveArtist(artist._id)" class="btn btn-warning">+</button>
                    </ng-container>
                  </div>
                </td>
                <ng-template #notLoggedIn>
                    <button type="button" (click) = "displayLogin()" class="btn btn-warning">+</button>
                </ng-template>
                <ng-template #disableButton>
                    <button type="button" (click) = "removeArtist(artist._id)" class="btn btn_warning">✔</button>
                </ng-template>
            </tr>
          </table>
</div>
