<div class="container">
    <div class="row" *ngIf="!authService.currentUser; else loggedIn">
        <div class = "col text-center">
            <div class="loginText">
                You are not logged in. You can login or register using the button below!
            </div>
            <button type="button" (click) = "goLogin()" class="btn btn-warning">Login/Register</button>
        </div>
    </div>
</div>

<ng-template #loggedIn>
    <div class="row">
        <div class = "col-md-6 text-center" style="height:500px; overflow:auto">
                <table id="songTable" style="width:100%" >
                        <tr>
                          <th>Song Title</th>
                          <th>Album</th>
                          <th>Artist</th>
                          <th>Song Duration</th>
                          <th>Number of Plays</th>
                          <th>Remove <br>from <br>Saved <br>Songs</th>
                        </tr>
                        <tr *ngFor="let song of songs" >
                          <td>
                            <a href={{song.spotify}} (click)="addListen(song._id, song.plays)">{{song.title}}</a>
                          </td>
                          <td>
                              <button type="button" (click)="goAlbum(song.album._id)" class="btn btn-warning">{{song.album.title}}</button>
                            </td>
                          <td>
                              <button type="button" (click)="goArtist(song.artist._id)" class="btn btn-warning">{{song.artist.name}}</button>
                            </td>
                          <td>{{song.duration}}</td>
                          <td>{{song.plays}}</td>
                          <td>
                            <div class = "col text-center">
                                <button type="button" (click) = "removeSong(song._id)" class="btn-remove btn-warning">
                                    <span>✔</span>
                                </button>
                            </div>
                        </td>
                        </tr>
                      </table>
        </div>
        <div class = "col-md-6 text-center" style="height:500px; overflow:auto">
                <table style="width:100%" >
                        <tr>
                          <th>Album Name</th>
                          <th>Artist</th>
                          <th>Genre</th>
                          <th>Remove <br>from <br>Saved <br>Albums</th>
                        </tr>
                        <tr *ngFor="let album of albums" >
                          <td>
                              <button type="button" (click)="goAlbum(album._id)" class="btn btn-warning">{{album.title}}</button>
                          </td>
                          <td>
                              <button type="button" (click)="goArtist(album.artist._id)" class="btn btn-warning">{{album.artist.name}}</button>
                            </td>
                          <td>{{album.genre}}</td>
                          <td>
                              <div class = "col text-center">
                                  <button type="button" (click) = "removeAlbum(album._id)" class="btn-remove btn-warning">
                                    <span>✔</span>
                                  </button>
                              </div>
                            </td>
                        </tr>
                      </table>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-6 text-center" style="height:500px; overflow:auto">
                <table style="width:100%" >
                        <tr>
                          <th>Artist Name</th>
                          <th>Summary</th>
                          <th>Followers</th>
                          <th>Remove <br>from <br>Saved <br>Artists</th>
                        </tr>
                        <tr *ngFor="let artist of artists" >
                          <td>
                              <button type="button" (click)="goArtist(artist._id)" class="btn btn-warning">{{artist.name}}</button>
                          </td>
                          <td>{{artist.summary}}</td>
                          <td>{{artist.followers}}</td>
                          <td>
                              <div class = "col text-center">
                                  <button type="button" (click) = "removeArtist(artist._id, artist.followers)" class="btn-remove btn-warning">
                                    <span>✔</span>
                                  </button>
                              </div>
                            </td>
                        </tr>
                      </table>
        </div>
        <div class = "col-md-6 text-center" style="height:500px; overflow:auto">
                <table style="width:100%" >
                        <tr>
                          <th>Playlist Name</th>
                          <th>Creator</th>
                          <th>Followers</th>
                          <th>Remove <br>from <br>Saved <br>Playlists</th>
                        </tr>
                        <tr *ngFor="let p of playlists" >
                          <td>
                            <button type="button" (click)="goPlaylist(p._id)" class="btn btn-warning">{{p.title}}</button>
                          </td>
                          <td>{{p.creator}}</td>
                          <td>{{p.followers}}</td>
                          <td>
                              <div class = "col text-center">
                                    <button type="button" (click) = "removePlaylist(p._id, p.followers)" class="btn-remove btn-warning">
                                            <span>✔</span>
                                    </button>
                              </div>
                            </td>
                        </tr>
                      </table>
        </div>
    </div>
</ng-template>