<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="authService.currentUser; else loggedIn">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<ng-template #loggedIn>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/login">Login/Register</a>
        </div>
    </nav>
</ng-template>

<div class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 offset-sm-3">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class = "row">
            <div class = "col text-center">
                <button type="button" (click) = "goHome()" class="btn btn-warning">Home</button>
            </div>
            <div class = "col text-center">
                <button type="button" (click) = "goSongs()" class="btn btn-warning">Songs</button>
            </div>
            <div class = "col text-center">
                <button type="button" (click) = "goAlbums()" class="btn btn-warning">Albums</button>
            </div>
            <div class = "col text-center">
                <button type="button" (click) = "goArtists()" class="btn btn-warning">Artists</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>



