<div class = "col text-center">

    <table style="width:100%" >
            <tr>
              <th>Album Name</th>
              <th>Artist</th>
              <th>Genre</th>
              <th>Add to Saved Albums</th>
            </tr>
            <tr *ngFor="let album of albums" >
              <td>{{album.title}}</td>
              <td>{{album.artist}}</td>
              <td>{{album.genre}}</td>
              <td>
                <div class = "col text-center" *ngIf="!authService.currentUser; else loggedIn">
                    <button type="button" (click) = "notLoggedIn()" class="btn btn-warning">+</button>
                </div>
              </td>
            </tr>
          </table>
</div>
<ng-template #loggedIn>
    <button type="button" (click) = "saveAlbum()" class="btn btn-warning">+</button>
</ng-template>
