<div class = "col text-center">

    <table style="width:100%" >
            <tr>
              <th>Album Name</th>
              <th>Artist</th>
              <th>Genre</th>
              <th>Add to Saved Albums</th>
            </tr>
            <tr *ngFor="let album of albums" >
              <td>
                  <button type="button" (click)="goAlbum(album._id)" class="btn btn-warning">{{album.title}}</button>
              </td>
              <td>
                <a href={{album.artist.spotify}}>{{album.artist.name}}</a>
              </td>
              <td>{{album.genre}}</td>
              <td>
                  <div class = "col text-center" *ngIf="authService.currentUser; else notLoggedIn">
                    <ng-container *ngIf="!savedAlbums.includes(album._id); else disableButton">
                      <button type="button" (click) = "saveAlbum(album._id)" class="btn btn-warning">+</button>
                    </ng-container>
                  </div>
                </td>
                <ng-template #notLoggedIn>
                    <button type="button" (click) = "displayLogin()" class="btn btn-warning">+</button>
                </ng-template>
                <ng-template #disableButton>
                    <button type="button" (click) = "removeAlbum(album._id)" class="btn-remove btn-warning">
                      <span>✔</span>
                    </button>
                </ng-template>
            </tr>
          </table>
</div>
