<div class = "col text-center">
    <div class = "row">
        <div class = "col text-center">
            <button type="button" (click) = "goHome()" class="btn btn-warning">Home</button>
        </div>
    </div>
    <ul>
        <li *ngFor="let song of songs">
            <p *ngIf="song.features.length!=0; else nofeatures">
                {{song.title}}, {{song.album}}, {{song.artist}}, {{song.features}}, {{song.duration}}, {{song.plays}}
            </p>
            <ng-template #nofeatures>
                {{song.title}}, {{song.album}}, {{song.artist}}, {{song.duration}}, {{song.plays}}
            </ng-template>
        </li>
    </ul>
</div>
