<div class = "col text-center">
    <table id="songTable" style="width:100%" >
            <tr>
              <th>Song Title</th>
              <th>Album</th>
              <th>Artist</th>
              <th>Song Duration</th>
              <th>Number of Plays</th>
              <th>Add to Saved Songs</th>
            </tr>
            <tr *ngFor="let song of songs" >
              <td>
                <a href={{song.spotify}} (click)="addListen(song._id, song.plays)">{{song.title}}</a>
              </td>
              <td>
                  <button type="button" (click)="goAlbum(song.album._id)" class="btn btn-warning">{{song.album.title}}</button>
              </td>
              <td>
                  <button type="button" (click)="goArtist(song.artist._id)" class="btn btn-warning">{{song.artist.name}}</button>
              </td>
              <td>{{song.duration}}</td>
              <td>{{song.plays}}</td>
              <td>
                <div class = "col text-center" *ngIf="authService.currentUser; else notLoggedIn">
                  <ng-container *ngIf="!savedSongs.includes(song._id); else disableButton">
                    <button type="button" (click) = "saveSong(song._id)" class="btn btn-warning">+</button>
                  </ng-container>
                </div>
              </td>
              <ng-template #notLoggedIn>
                  <button type="button" (click) = "displayLogin()" class="btn btn-warning">+</button>
              </ng-template>
              <ng-template #disableButton>
                  <button type="button" (click) = "removeSong(song._id)" class="btn-remove btn-warning">
                      <span>✔</span>
                  </button>
              </ng-template>
            </tr>
          </table>
</div>

<div class="modal fade" id="songForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Song</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
      <div class="modal-body mx-3">
        <div class="form-group">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label>Title:</label>
          <input type="text" id="newSongForm-title" name="title" class="form-control validate" required [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label>Album:</label>
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="text" id="newSongForm-album" name="album" class="form-control validate" [(ngModel)]="album">
        </div>
        <div class="form-group">
          <i class="fas fa-lock prefix grey-text"></i>
          <label>Artist:</label>
          <select class="selectpicker" id="newSongForm-artist" data-live-search="true" data-live-search-style="contains" name="artist" class="form-control validate" required [(ngModel)]="artist">
            <option *ngFor="let art of artists" value={{art[1]}}>{{art[0]}}</option>
          </select>
        </div>
        <div class="form-group">
          <i class="fas fa-lock prefix grey-text"></i>
          <label>Features:</label>
          <input type="text" id="newSongForm-features" name="features" class="form-control validate" [(ngModel)]="features">
        </div>
        <div class="form-group">
          <i class="fas fa-lock prefix grey-text"></i>
          <label>Duration (seconds):</label>
          <input type="text" id="newSongForm-duration" name="duration" class="form-control validate" [(ngModel)]="duration">
        </div>        
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <input id="songFormSub" class="btn btn-default" type="submit" value="Add Song">
        </div>
      </form>
    </div>
  </div>
</div>


