<div class = "col text-center">
  <div class = "col text-center album-header">
    <a href="{{album.spotify}}">
      {{album.title}}
    </a>
  </div>
  <div class = "col text-center btn-album" *ngIf="authService.currentUser; else notLoggedIn">
      <ng-container *ngIf="!savedAlbums.includes(album._id); else disableAlbumButton">
        <button type="button" (click) = "saveAlbum(album._id)" class="btn btn-warning">+</button>
      </ng-container>
  </div>
  <ng-template #disableAlbumButton>
      <button type="button" (click) = "removeAlbum(album._id)" class="btn-remove btn-warning">
          <span>✔</span>
      </button>
  </ng-template>
    <table style="width:100%" >
        <tr>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Song Duration</th>
            <th>Number of Plays</th>
            <th>Add to Saved Songs</th>
          </tr>
          <tr *ngFor="let song of songs" >
            <td>
              <a href={{song.spotify}} (click)="addListen(song._id, song.plays)">{{song.title}}</a>
            </td>
            <td>
                <button type="button" (click)="goArtist(song.artist._id)" class="btn btn-warning">{{song.artist.name}}</button>
              </td>
            <td>{{song.duration}}</td>
            <td>{{song.plays}}</td>
            <td>
              <div class = "col text-center" *ngIf="authService.currentUser; else notLoggedIn">
                <ng-container *ngIf="!savedSongs.includes(song._id); else disableButton">
                  <button type="button" (click) = "saveSong(song._id)" class="btn btn-warning">+</button>
                </ng-container>
              </div>
            </td>
            <ng-template #notLoggedIn>
                <button type="button" (click) = "displayLogin()" class="btn btn-warning">+</button>
            </ng-template>
            <ng-template #disableButton>
                <button type="button" (click) = "removeSong(song._id)" class="btn-remove btn-warning">
                    <span>✔</span>
                </button>
            </ng-template>
          </tr>
          </table>
</div>
