table{
    border: 1px solid black;
    width: 100%;

}
th {
    height: 50px;
    background: green;
    color: white;
  }

  td {
    height: 50px;
    color: green;
    background: lightgray;
  }

  .btn-remove:hover span{
    display:none
  }
  
  .btn-remove:hover:before {
    content:"❌";
  }

  .btn-album{
    padding-bottom: 30px;
  }

  .album-header{
    font-size: 36px;
    font-weight: bold;
    font-family:"Arial Black", Gadget, sans-serif;
    padding-bottom: 30px;
  }